.fail-size {
    display: none;
    flex-direction: column;
}

.fail-size p {
    text-align: center;
    font-size: 24px;
    margin: 8px;
}

@media only screen and (max-height: 400px), (max-width: 750px)  {
    .fail-size {
        display: flex;
    }
    .ok-size {
        display: none;
    }
}
