@import url('https://fonts.googleapis.com/css?family=Questrial');

$card-width: 200px;

body {
    background-color: aquamarine;
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

header {
    background-color: red;
}

main {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: $card-width;
    min-height: $card-width;
    background-color: white;
    border-radius: 2px;
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
    color: black;
    text-decoration: none;
    transition-duration: 250ms;

    &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    }

    h1 {
        text-align: center;
        font-size: 24px;
    }

    p {
        text-align: start;
        font-size: 16px;
        margin: 10px;
    }
}

input, textarea {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 6px;
    margin: 4px 0;
    display: inline-block;
}

textarea {
    resize: vertical;
    min-height: 100px;
    overflow: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 500px;

    form {
        display: flex;
        flex-direction: column;

        div {
            margin: 2px 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                margin: 4px 0;
            }

            label {
                width: 200px;
                display: inline-block;
                font-weight: bold;
            }

            input, span {
                flex: 1;
                display: table;
            }
        }
    }
}
